body {
  font-size: small;
  margin: 0;
  font-family: sans-serif;
  background-color: grey;
}

.page {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 794px;
  height: 100%;

  display: grid;
  grid-template-columns: 250px auto;
}